figure[data-rehype-pretty-code-figure] {
  @apply s-border-color-card overflow-hidden rounded-md border;
  @apply selection:bg-[#c1def1] selection:text-[unset] dark:selection:bg-[#264f78];
  [data-rehype-pretty-code-title] {
    @apply s-bg-title s-border-color-divider m-0 border-b px-3 py-1 font-title text-base text-black shadow-sm dark:text-white;
  }
  [data-rehype-pretty-code-caption] {
    @apply m-0 px-3 py-1 text-xs;
  }
  pre {
    @apply s-bg-sheet relative rounded-none p-0;
    &:has(+ [data-rehype-pretty-code-caption]) {
      @apply s-border-color-divider border-b;
    }
  }
  code {
    @apply overflow-x-auto py-2.5;
  }
}

code[data-theme] span {
  @apply bg-[--shiki-light-bg] text-[--shiki-light] dark:bg-[--shiki-dark-bg] dark:text-[--shiki-dark];
}

/* 行号 */
code[data-line-numbers] {
  counter-reset: line;
  & > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply mr-6 inline-block w-4 text-right text-slate-500;
  }
}

/* 行高亮 */
pre [data-line] {
  @apply border-l-2 border-transparent px-4;
  &[data-highlighted-line] {
    @apply border-slate-300 dark:border-slate-600;
    @apply bg-slate-300/30 dark:bg-slate-600/30;
  }
}
