::view-transition-old(theme),
::view-transition-new(theme) {
  animation: none;
  mix-blend-mode: normal;
}

.light::view-transition-new(theme) {
  z-index: 10;
}

.dark::view-transition-old(theme) {
  z-index: 10;
}
