dist/
node_modules/
.next/
public/
.pnpm-store/

pnpm-lock.yaml
*.min.js
next-env.d.ts

apps/web/src/assets/
apps/web/src/generated/
apps/web/README.md

packages/ui/src/components/
packages/ui/src/hooks/use-mobile.ts
packages/ui/src/lib/
