/** shadcn 组建弹窗会隐藏滚动条；虽然他对 body 标签加了 mr 但是个别标签还是需要单独处理，避免页面抖动 */
body[data-scroll-locked] {
  [data-aria-hidden='true']:where(header) {
    padding-inline-end: var(--removed-body-scroll-bar-size, 15px);
  }
}

/** Fancybox 图片预览弹窗会隐藏滚动条；避免页面抖动 */
body.hide-scrollbar {
  header {
    padding-inline-end: var(--f-scrollbar-compensate, 15px);
  }
}

/** shadcn label component */
[data-slot='label'],
[data-slot='field-label'] {
  &[aria-required='true'] {
    @apply relative self-start;
    &::after {
      content: '*';
      @apply absolute top-0 -left-2.5 text-rose-500;
    }
  }
}

/** shadcn slider component */
[data-slot='slider-track'] {
  @apply cursor-pointer;
}
