@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@utility p-card {
  @apply p-4 lg:p-5;
}

@utility gap-bp-* {
  gap: --spacing(--value(integer));
  @variant sm {
    gap: calc(--spacing(--value(integer)) + --spacing(1));
  }
  @variant md {
    gap: calc(--spacing(--value(integer)) + --spacing(3));
  }
}
