@import './assets/font/FZSJ-ZHUZAYTE/result.css';
@import './assets/font/MiSans L3/result.css';
@import './assets/font/CascadiaCodePL/result.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-root;
    @apply selection:bg-teal-500 selection:text-white;
    &[data-joy-color-scheme='light'] {
      color-scheme: light;
    }
    &[data-joy-color-scheme='dark'] {
      color-scheme: dark;
    }
  }
  header {
    @apply s-divider-color border-b bg-white/80 backdrop-blur dark:bg-[#131318]/80;
  }
  body,
  main {
    @apply s-bg-root;
  }
  img {
    @apply dark:brightness-[0.8];
  }
  article {
    @apply overflow-hidden p-5 font-body first:[&>*]:mt-2 last:[&>*]:mb-2;
    @apply prose prose-sm prose-sky dark:prose-invert md:prose-base;
    @apply prose-td:whitespace-nowrap;
    @apply prose-table:block prose-table:overflow-auto;
    @apply prose-a:no-underline hover:prose-a:underline;
    @apply prose-strong:font-bold;
    @apply prose-blockquote:rounded-sm;
    @apply prose-img:s-bg-card prose-img:rounded-lg;
    @apply prose-p:my-2;
  }
  pre,
  code {
    @apply font-code;
  }
  a {
    @apply break-all;
  }
  :focus-visible {
    @apply s-outline rounded-sm;
  }
  * {
    scrollbar-width: thin;
    -webkit-tap-highlight-color: transparent;
  }
}

article {
  .katex-display {
    @apply s-bg-card s-border-color-card s-hidden-scrollbar overflow-x-auto overflow-y-clip rounded-md border px-3 pb-3 pt-4 backdrop-blur;
    .katex {
      @apply min-w-max;
    }
  }
  .tag {
    @apply hidden;
  }
}
